Background 
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #444;
	justify-content: center;
	align-items: center;
	background: 100%, 100%;
	background-image: url("UI\Images\Gemini_Generated_Image_rejz0urejz0urejz.png");
}