@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent



<root class="DeathScreen">
    <h1>Press Space to Try Again</h1>
    <h2>Stack&box</h2>

    <div class= "options">
        <div class="button" onclick=@Startmenu>
            Return to Main Menu
        </div>
        <div class="button" onclick=@Tryagain>
            Try Again?
        </div>
    </div>
	
</root>

@code
{
    protected override void OnStart()
    {
        base.OnStart();
        Mouse.Visible = true;
		Mouse.CursorType = "none";
    }
    protected override void OnUpdate()
    {
        base.OnUpdate();
        if (Input.Pressed("jump")) Scene.LoadFromFile("scenes/Stack.scene");
    }
    void Tryagain()
    {
		Scene.LoadFromFile("scenes/Stack.scene");
    }
    void Startmenu()
    {
		Scene.LoadFromFile("scenes/startmenu.scene");
    }
}
