HUD {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-weight: bold;
	font-family: 'Poppins';
	text-stroke: 12px black;
	color: #ffffff;

	>.titles {
		position: absolute;
		left: 16px;
		bottom: 16px;
		font-size: 65px;
		background-color: rgba(47, 0, 255, 0.1);
		padding-left: 20px;
		border-radius: 2px;
	}

	.spacing {
		padding-left: 20px;
		padding-right: 20px;
	}

	>.speed1 {
		position: absolute;
		right: 16px;
		bottom: 16px;
		font-size: 48px;
		background-color: rgba(47, 0, 255, 0.1);
		border-radius: 2px;
	}
	>.speed2 {
		position: absolute;
		right: 16px;
		bottom: 96px;
		font-size: 48px;
		background-color: rgba(47, 0, 255, 0.1);
		border-radius: 2px;
		padding-left: 20px;
	}
}
