HUD {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-weight: bold;
	font-family: 'Poppins';
	text-stroke: 12px black;
	color: #00c3ff;
	// color: #ffffff;

	>.titles {
		position: absolute;
		left: 16px;
		bottom: 16px;
		font-size: 65px;
		// background-color: #00c3ff;
		// padding: 0 20px;
		// border-radius: 2px;
	}

	.spacing {
		padding-left: 25px;
	}

	>.vitals {
		position: absolute;
		right: 16px;
		bottom: 16px;
		font-size: 65px;
		// background-color: #00c3ff;
		// padding: 0 20px;
		// border-radius: 2px;
	}
}

// HUD {
// 	position: absolute;
// 	left: 16px;
// 	bottom: 16px;
// 	background-color: #0916cf;
// 	justify-content: center;
// 	align-items: center;
// 	font-weight: bold;
// 	border-radius: 2px;
// 	padding: 0 20px;

// 	.titles {
// 		font-size: 65px;
// 		font-family: Poppins;
// 		color: #ffffff;
// 	}

// 	.spacing {
// 		padding-left: 25px;
// 	}
// }