@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@using System;

<root>

    <div class="titles">@("Level: ")
        <p class="spacing"> @Player.turn </p>
    </div>

    <div class="speed1">@("")
        <p class="spacing"> @speed@("%") </p>
    </div>
    <div class="speed2"> @("Speed: ")
        <p class="spacing"> @speed2@("u/s") </p>
    </div>

</root>

@code
{
	[Property] Mover Player {get; set;}
    public float speed {get; set;}
    public float speed2 {get; set;}

    protected override void OnUpdate()
	{
		base.OnUpdate(); 
        speed = (float)Math.Round((1/Player.TimetillMove) * 20);
        speed2 = (float)Math.Round((1/Player.TimetillMove)*10)/10;
	}
	protected override int BuildHash()
    {
        return System.HashCode.Combine( Player.turn , speed, Player.TimetillMove );
    }
}