LeaderBoard {
    position: absolute;
    top: 25px;
    right: 125px;
    flex-direction: column;
    height: 95%;
    width: 600px;
    background-color: #fb00ff;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Gill Sans';

    #entryList {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 10px;


        .entry {
            color: #000000;
            font-size: 20px;
            font-family: Poppins;

            >* {
                align-items: center;
            }
        }

        .rank {
            width: 10%;
            color: #f7f4f4;
            text-align: left;
            text-stroke: 6px black;
        }

        .name {
            width: 70%;
            color: rgb(0, 191, 255);
            padding-right: 100px;
            text-stroke: 6px black;

        }

        .score {
            font-size: 32px;
            width: 20%;
            color: #f7f4f4;
            padding-left: 50px;
            text-stroke: 6px black;
        }
    }
}