@using Sandbox;
@using System.Threading.Tasks;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div id="entryList">LeaderBoard
		<div gap </div> 
        @foreach ( var entry in board.Entries )
		{
			<div class="entry">
				<div class="rank (entry.Rank)">@entry.Rank.</div>
				<div class="name">@entry.DisplayName</div>
				<div class="score">@entry.FormattedValue</div>
			</div>
		}
    </div>
</root>

@code
{
	public Sandbox.Services.Leaderboards.Board board { get; set; }

    protected override void OnStart()
	{
		_ = GetLeaderboard();
	}

	public async Task GetLeaderboard()
	{
		board = Sandbox.Services.Leaderboards.Get( "highscore" );
		board.MaxEntries = 20;

		await board.Refresh();

		foreach ( var entry in board.Entries )
		{
			Log.Info( $"{entry.DisplayName} - {entry.Value}" );
		}
	}
	protected override int BuildHash() => System.HashCode.Combine( board.Title );
}
