@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root 
    class= "buttons">
    <h1>Test Your Skills</h1>
    <div class= "options">
        <div class="button" onclick=@StartdaGame1>
            Start Game
        </div>
        <div class="button" onclick=@PanelToggle>
            How To Play
        </div>
        <div class="button sfx"onclick=@StartdaGame2>
            View Leaderboard
        </div>
    </div>
</root>

@code
{
    [Property] public GameObject howtopanel {get;set;}
    void StartdaGame1()
    {  
        Scene.LoadFromFile("scenes/Stack.scene");
    }
    void StartdaGame2()
    {
        Scene.LoadFromFile("scenes/leaderboard.scene");
    }
    void PanelToggle()
    {
        howtopanel.Enabled = !howtopanel.Enabled;
        GameObject.Enabled = !GameObject.Enabled; 
    }
}