@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root class="@(IsPaused ? "" : "hide")">
    <h1>Press Esc to Resume</h1>
    <h2>Stack&box</h2>
    <div class= "options">
        <div class="button" onclick=@Startmenu>
            Return to Menu
        </div>
        <div class="button" onclick=@OnResume>
            Resume
        </div>
    </div>
</root>

@code
{ 
    [Property] RayDetect player { get; set; }
    public bool IsPaused { get; set; }

    protected override void OnStart()
	{
		IsPaused = false;
        player.ignoreinputs = false;
	}

    protected override void OnUpdate()
    {
        base.OnUpdate();

        if (IsPaused)
        {
            player.ignoreinputs = true;
        }
        else
        {
            player.ignoreinputs = false;
        }

        if(Input.EscapePressed)
        {
            Input.EscapePressed = false;
            IsPaused = !IsPaused;
            player.ignoreinputs = true;
        }

        Scene.TimeScale = IsPaused ? 0 : 1;
    }

    void OnResume()
    {
        IsPaused = false;
        player.ignoreinputs = false;
    }

    void Startmenu()
    {
        Scene.LoadFromFile("scenes/Startmenu.scene");
    }

    protected override int BuildHash() => System.HashCode.Combine( IsPaused );
}
