@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root class="@(IsPaused ? "" : "hide")">
    <h1>Press Esc to Resume</h1>
    <h2>Stack&box</h2>
    <div class= "options">
        <div class="button" onclick=@OnResume>
            Resume
        </div>
        <div class="button" onclick=@Startmenu>
            Return to Menu
        </div>
        <div class="button" onclick=@MusicControl>
            Mute Music
        </div>
        <div class="button" onclick=@( () => Game.Overlay.ShowSettingsModal() )>
            Settings 
        </div>
    </div>
</root>

@code
{ 
    [Property] RayDetect player { get; set; }
    [Property] SoundPointComponent lofiInGame {get; set;}
    public bool musicMuted;
    public bool IsPaused { get; set; }

    protected override void OnStart()
	{
		IsPaused = false;
        musicMuted = false;
        player.ignoreinputs = false;
	}

    protected override void OnUpdate()
    {
        base.OnUpdate();

        if (musicMuted) 
        {
            lofiInGame.Volume = 0;
        }
        else
        {
            lofiInGame.Volume = .25f;
        }

        if (IsPaused)
        {
            player.ignoreinputs = true;
        }
        else
        {
            player.ignoreinputs = false;
        }

        if(Input.EscapePressed)
        {
            Input.EscapePressed = false;
            IsPaused = !IsPaused;
            player.ignoreinputs = true;
        }
        Scene.TimeScale = IsPaused ? 0 : 1;
    }
    void OnResume()
    {
        IsPaused = false;
        player.ignoreinputs = false;
    }
    void Startmenu()
    {
        Scene.LoadFromFile("scenes/Startmenu.scene");
    }
    void MusicControl()
    {
        musicMuted = !musicMuted;
    }
    protected override int BuildHash() => System.HashCode.Combine( IsPaused );
}
