DeathScreen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(black, 0.7);
	pointer-events: all;
	color: rgb(235, 0, 223);
	font-family: Poppins;
	font-size: 64px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: opacity .25s ease;

	>h1 {
		font-size: 32px;
		text-stroke: 10px black;
		font-weight: bolder;
		color: rgb(8, 235, 0);
	}

	>h2 {
		padding-top: 5%;
		font-size: 128px;
		text-stroke: 10px black;
		font-weight: bolder;
	}

	>.options {
		flex-direction: column;
		align-items: center;
		gap: 16px;
		color: rgb(39, 0, 235);

		>.button {
			background-color: rgb(47, 0, 255);
			color: rgb(200, 200, 200);
			text-stroke: 6px black;
			padding: 8px;
			border-radius: 2px;
			transition: all 0.25s ease;

			&.menu {
				background-color: rgb(47, 0, 255);

				&:active {
					sound-in: fart;
				}
			}

			&:hover {
				sound-in: ui.button.over;
				background-color: rgb(216, 3, 188);
				transform: scale(1.1);
				cursor: pointer;
				color: rgb(0, 0, 0);
				text-stroke: 6px rgb(255, 255, 255);
			}

			&:active {
				sound-in: ui.button.press;
			}

			&.sfx {
				&:active {
					sound-in: fart;
				}
			}
		}
	}

	&.hide {
		opacity: 0;
	}
}