@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>

    <div class="titles">@("Level: ")
        <p class="spacing"> @Player.turn </p>
        <!-- <p>@("Time spent simulating God Rays")</p> -->
    </div>

    <div class="vitals">
    </div>

</root>

@code
{
	[Property] Mover Player {get; set;}

	protected override int BuildHash()
    {
        return System.HashCode.Combine( Player.turn );
    }
}