@using System;
@using System.Threading.Tasks;
@using System.Collections.Generic;
@using Sandbox;
@using Sandbox.Services;
@using Sandbox.UI;
@using Sandbox.Utility;
@inherits PanelComponent

@*
<root>
	<div class="title"></div>
</root>
*@




@code
{
	public Sandbox.Services.Leaderboards.Board board { get; set; }

    protected override void OnStart()
	{
		_ = GetLeaderboard();
	}

	public async Task GetLeaderboard()
	{
		board = Sandbox.Services.Leaderboards.Get( "highscore" );
		board.MaxEntries = 10;

		await board.Refresh();

		foreach ( var entry in board.Entries )
		{
			Log.Info( $"{entry.DisplayName} - {entry.Value}" );
		}
	}
	protected override int BuildHash() => System.HashCode.Combine( board.Title );
}
