@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root class="@(IsPaused ? "" : "hide")">
    <h2>Stack&box</h2>
    <div class= "options">
        <div class="button" onclick=@OnResume>
            Resume
        </div>
    </div>
</root>

@code
{

    public bool IsPaused { get; set; }
    [Property] RayDetect player { get; set; }


    protected override void OnStart()
	{
        GameObject.Enabled = true;
		IsPaused = false;
        player.ignoreinputs = false;
	}

    protected override void OnUpdate()
    {
        base.OnUpdate();

        if (IsPaused)
        {
            player.ignoreinputs = true;
        }
        else
        {
            player.ignoreinputs = false;
        }

        if(Input.EscapePressed)
        {
            Input.EscapePressed = false;
            IsPaused = !IsPaused;
            player.ignoreinputs = true;
        }

        Scene.TimeScale = IsPaused ? 0 : 1;
    }

    void OnResume()
    {
        IsPaused = false;
        player.ignoreinputs = false;
    }

    void ClassicMode ()
    {
        Scene.LoadFromFile("scenes/classic.scene");
    }


    protected override int BuildHash() => System.HashCode.Combine( IsPaused );
}
