@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>

     <div class="left">

        <div class="title">
            Stack&box
        </div>

        <div class="explanation">
            <p>
                Classic Mode coming to a S&box near you!
            </p>

            <p>
                Pick a gamemode to start the game.
            </p>
        </div>

    </div>

</root>

@code
{

}